.title{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:100px;
    margin:0%;
    padding:0%;
    color:white;
    font-family:"Share Tech Mono", monospace;
    font-weight:400;
    font-style:normal;
}

body{
    background-color:#000000;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    border-radius:50px;
    outline: none;
    border-radius:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-size: 25px;
    padding-left: 25px;
    transition: .2s;
    position:relative;
    top:50px
}

.container{
    display:flex;
    position:relative;
    bottom:35px;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:80vh;
    margin:0%;
    padding:0%;
}

button{
    height:85px;
    width:85px;
    border-radius:20px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    border-color:rgb(180, 180, 180);
    font-weight:bold;
    font-family:"Share Tech Mono", monospace;
    }

#startButton{
    height:450px;
    width:450px;
    font-size:50px;
    border-color: transparent;
    cursor:pointer;
    background-color:transparent;
    position: relative;
    bottom:50px;
    margin:0;
    padding:0;
}

#startButton:hover{
    animation:shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-1px, -2px) rotate(-1deg); }
    50% { transform: translate(-3px, 0px) rotate(1deg); }
    75% { transform: translate(3px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(0deg); }
  }

.flash{
    background-color:whitesmoke;
    }


.btnNum{
    position:relative;
    left:50px;
}

.btnNum2{
    position:relative;
    left:30px;
}

.btnNum3{
    position:relative;
    left:570px;
    top:15px;
    width:160px
} 

.buttons{
    position: relative;
    top:270px;
    right:25px;

}

#space{
    width: 550px;
    height:90px;
    position: relative;
    left:200px;
    top:20px;
}

#backspace{
    width:130px;
    position:relative;
    left:18px
}

#enter{
    width:150px;
}

#shift{
    width:150px;
}
.first-row{
    position:relative;
    bottom:165px;
}

.second-row{
    position:relative;
    bottom:160px
}

.third-row{
    position:relative;
    bottom:155px;
}

.fourth-row{
    position:relative;
    bottom:155px;
}

#sentence-display{
    display:inline-block;
    position:absolute;
    top:25%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:2.25em;
    text-align:center;
    font-weight:bold;
    color:white;
    font-family:"Share Tech Mono", monospace;
    animation: blink 1s infinite;
    border-right: 2px solid;
    user-select:none;
    outline:0;
}

@keyframes blink {
    50%{
        border-color:transparent;
    }
}

#countdown{
    position:relative;
    bottom:50px;
    font-size:2.25em;
    color:white;
    font-family:"Share Tech Mono", monospace;
}

#results{
    position:relative;
    top:-180px;
    font-weight:bold;
    color:whitesmoke;
    font-size:2.5em;
    font-family:"Share Tech Mono", monospace;
    text-align:center;
    margin:0;
    padding:0;
}

#restart{
    width:175px;
    font-size:1.75em;
    cursor:pointer;
    border-radius:50%;
}

#restart:hover{
    color:#ff0000;
}

footer{
    color:whitesmoke;
    font-family:"Share Tech Mono", monospace;
    text-align:center;
    padding:10px;
    position:relative;
    right:5px;
    top:170px;
    width:100%;
}

.match{
    color: #09ff00;
}

.no-match{
    color:#ff0000;
}



